In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
#设置绘图风格
plt.style.use('seaborn')
#设置字体为黑色
plt.rcParams['font.family']='SimHei'
#显示符号
plt.rcParams['axes.unicode_minus']= False

C:\Users\fzh00\AppData\Local\Temp\ipykernel_4480\381268240.py:2: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')

In [4]:
data1 = pd.read_excel(r"C:\Data\Jupyter_file\Python数据清洗基础\办公自动化\1、从多个表中提取指定数据到新表\办公用品采购表_2020年.xlsx")

In [5]:
data1.head(1)

           日期 物品名称  数量   单价   采购金额
0  2020-01-01  便签纸  14  9.9  138.6

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      19 non-null     object
 1   物品名称    19 non-null     object
 2   数量      19 non-null     int64
 3   单价      19 non-null     float64
 4   采购金额    19 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 888.0+ bytes

In [8]:
data1.describe()

              数量          单价          采购金额
count  19.000000   19.000000     19.000000
mean   22.105263   80.452632   2200.336842
std    13.731127  120.347822   4075.311722
min     3.000000    5.900000     39.600000
25%    14.000000   10.200000    155.850000
50%    20.000000   33.900000    475.200000
75%    31.500000  110.500000   2305.000000
max    48.000000  529.000000  17457.000000

In [9]:
%pwd

'C:\\Users\\fzh00\\PycharmProjects\\pythonProject1\\day1'

In [15]:
df = pd.DataFrame()
for i in range(12):
    data = pd.read_excel(r"C:\Data\Jupyter_file\Python数据清洗基础\办公自动化\1、从多个表中提取指定数据到新表\办公用品采购表_2020年.xlsx",i)
    temp = data[data['物品名称']=='饮水机']
    df = pd.concat([df,temp])
df.head()

           日期 物品名称  数量     单价     采购金额
3  2020-02-05  饮水机  37  359.0  13283.0
1  2020-03-02  饮水机  12  359.0   4308.0
8  2020-06-11  饮水机  34  359.0  12206.0
5  2020-10-12  饮水机  23  359.0   8257.0

In [16]:
import xlwings as xw
#建议连接
app = xw.App(visible=False,add_book=False)
book = app.books.open(r"C:\Data\Jupyter_file\Python数据清洗基础\办公自动化\1、从多个表中提取指定数据到新表\办公用品采购表_2020年.xlsx")
sheets = book.sheets #获取所有工作表的名字
sheets

Sheets([<Sheet [办公用品采购表_2020年.xlsx]1月>, <Sheet [办公用品采购表_2020年.xlsx]2月>, <Sheet [办公用品采购表_2020年.xlsx]3月>, ...])

In [17]:
df = pd.DataFrame()
for i in range(len(sheets)):
    data = pd.read_excel(r"C:\Data\Jupyter_file\Python数据清洗基础\办公自动化\1、从多个表中提取指定数据到新表\办公用品采购表_2020年.xlsx",i)
    df1 = data[data.物品名称 == '拉链袋']
    df= pd.concat([df,df1])
df
book.close() #关闭工作簿
app.quit() #断开连接

           日期 物品名称  数量    单价   采购金额
1  2020-01-02  拉链袋  24  12.5  300.0
4  2020-03-11  拉链袋  10  12.5  125.0
4  2020-05-20  拉链袋  36  12.5  450.0
4  2020-08-18  拉链袋  23  12.5  287.5
5  2020-09-13  拉链袋  43  12.5  537.5
7  2020-11-21  拉链袋  17  12.5  212.5

In [18]:
#封闭函数
def auto_(io_from,name,io_to):
    '''
    提取指定工作簿中多个工作表的数据
    输出值：一个工作表
    参数：io_from 目标工作簿的地址名称,name：需要查看的名称
          io_to:导出的文件地址
    '''
    import xlwings as xw
    import pandas as pd
    #建议连接
    app = xw.App(visible=False,add_book=False)
    book = app.books.open(r"{}".format(io_from))
    sheets = book.sheets #获取所有工作表的名字


    df = pd.DataFrame()
    for i in range(len(sheets)):
        data = pd.read_excel(io_from,i)
        df1 = data[data.物品名称 == name]
        df= pd.concat([df,df1])
    df.to_excel(io_to,index=False)
    book.close() #关闭工作簿
    app.quit() #断开连接

In [19]:
auto_(r"C:\Data\Jupyter_file\Python数据清洗基础\办公自动化\1、从多个表中提取指定数据到新表\办公用品采购表_2020年.xlsx",
     '拉链袋','auto自动导出_拉链袋2.xlsx')

In [21]:
df.head()

           日期 物品名称  数量    单价   采购金额
1  2020-01-02  拉链袋  24  12.5  300.0
4  2020-03-11  拉链袋  10  12.5  125.0
4  2020-05-20  拉链袋  36  12.5  450.0
4  2020-08-18  拉链袋  23  12.5  287.5
5  2020-09-13  拉链袋  43  12.5  537.5

In [25]:
data.head()

           日期 物品名称  数量     单价     采购金额
0  2020-12-01  档案柜  45  529.0  23805.0
1  2020-12-05  插线板  26   99.0   2574.0
2  2020-12-06   墨盒  45  139.0   6255.0
3  2020-12-07  活页本  36    9.8    352.8
4  2020-12-07  便签纸  42    9.9    415.8

In [29]:
data1.head()

           日期 物品名称  数量    单价   采购金额
0  2020-01-01  便签纸  14   9.9  138.6
1  2020-01-02  拉链袋  24  12.5  300.0
2  2020-01-05  计算器  14  10.5  147.0
3  2020-01-06  活页本  18   9.8  176.4
4  2020-01-08  白板笔   6  10.9   65.4

In [30]:
data1.groupby('物品名称').数量.sum()

物品名称
U盘      3
中性笔    48
便签纸    14
切纸刀    30
墨盒     16
复印纸    20
拉链袋    24
插线板     7
文件篮    36
档案柜    33
活页本    18
白板笔     6
硒鼓     41
票据夹    14
网线      4
计算器    14
订书机    27
键盘     45
鼠标     20
Name: 数量, dtype: int64

In [31]:
data1.groupby('物品名称')

In [33]:
data1.groupby('物品名称').get_group('计算器')

           日期 物品名称  数量    单价   采购金额
2  2020-01-05  计算器  14  10.5  147.0

In [36]:
import os
os.listdir(r"C:\Data\Jupyter_file\Python数据清洗基础\办公自动化\汇总多个工作簿数据\销售统计")

['1月.xlsx', '2月.xlsx', '3月.xlsx', '4月.xlsx', '5月.xlsx', '6月.xlsx', '~$1月.xlsx']

In [39]:
df = pd.DataFrame()
for i in os.listdir(r"C:\Data\Jupyter_file\Python数据清洗基础\办公自动化\汇总多个工作簿数据\销售统计"):
    if i.startswith('~$'):
            continue
    data = pd.read_excel(r"C:\Data\Jupyter_file\Python数据清洗基础\办公自动化\汇总多个工作簿数据\销售统计\{}".format(i))
    df1 = data.groupby('产品名称').agg({'销售数量（个）':sum})
    df1.columns = [i.split('.')[0]]
    df = pd.concat([df,df1],axis=1)
df

        1月   2月   3月   4月   5月   6月
产品名称
单肩包    699  233  323  377  413  481
手提包    648  216  296  344  376  406
背包    1029  343  473  551  603  659
行李箱   1110  370  490  562  610  733
钱包     735  245  325  373  405  483