In [23]:
import re

line = "some cats are smarter than dogs are true"
mat1 = re.match(r".* are", line)
mat2 = re.match(r".*? are", line)
mat2,mat1

(<re.Match object; span=(0, 13), match='some cats are'>,
 <re.Match object; span=(0, 35), match='some cats are smarter than dogs are'>)

In [19]:
age = input()
print(age,type(age))

11 <class 'str'>

In [18]:
from functools import partial
def fun_3(a,b,c,d,e):
    return a+b+c+d+e
partial_fun = partial(fun_3,b=3,c=4,d=3,e=4)
result = partial_fun(10)
print(result)

24

In [17]:
import time
import datetime
count = 5
def loop():
    time_1 = datetime.datetime.now()
    for i in range(5):
        time.sleep(1)
    time_2 = datetime.datetime.now()
    print('消耗时间：%d'%(time_2-time_1).seconds)
loop()

消耗时间：5

In [12]:
from functools import reduce
def fun_1(a,b):
    return a+b
reduce(fun_1,[i for i in range(1,101)],10000)
filter(lambda x:x%2,[i for i in range(20)])
list(filter(lambda x:x%2,[i for i in range(20)]))

15050

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [56]:
dic = {'a':1,'b':2}
{ i for i in dic}
{key:dic[key] for key in dic}
dict.items(dic)
dic.items()
{i:j for i,j in dic.items()}
{j:i for i ,j in dic.items()}

{'a', 'b'}

{'a': 1, 'b': 2}

dict_items([('a', 1), ('b', 2)])

dict_items([('a', 1), ('b', 2)])

{'a': 1, 'b': 2}

{1: 'a', 2: 'b'}

In [48]:
li = [i for i in range(10)]
li2= li[:]
li
li2
li3 = li
id(li),id(li2),id(li3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

(2890856966144, 2890857256768, 2890856966144)

In [46]:
a,b,c = input('请输入3个数字：').split()
a ,b,c = int(a),int(b),int(c)
if a > b:
    a,b = b,a
if b > c:
    b ,c = c,b
if a>c:
    a,c = c,a
if a >b:
    a,b= b,a
print(a,b,c)

1 2 3

In [34]:
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            print(i,j,k)

1 1 1
1 1 2
1 1 3
1 1 4
1 2 1
1 2 2
1 2 3
1 2 4
1 3 1
1 3 2
1 3 3
1 3 4
1 4 1
1 4 2
1 4 3
1 4 4
2 1 1
2 1 2
2 1 3
2 1 4
2 2 1
2 2 2
2 2 3
2 2 4
2 3 1
2 3 2
2 3 3
2 3 4
2 4 1
2 4 2
2 4 3
2 4 4
3 1 1
3 1 2
3 1 3
3 1 4
3 2 1
3 2 2
3 2 3
3 2 4
3 3 1
3 3 2
3 3 3
3 3 4
3 4 1
3 4 2
3 4 3
3 4 4
4 1 1
4 1 2
4 1 3
4 1 4
4 2 1
4 2 2
4 2 3
4 2 4
4 3 1
4 3 2
4 3 3
4 3 4
4 4 1
4 4 2
4 4 3
4 4 4

In [33]:
import os
os.getcwd()
os._file_

'C:\\Users\\fzh00\\PycharmProjects\\pythonProject1'

AttributeError: module 'os' has no attribute '_file_'

In [32]:
import time
time.asctime(time.localtime(time.time()))
localtime = time.localtime(time.time())
localtime
time.time_ns()
time.time()

'Wed Jan 25 21:59:54 2023'

time.struct_time(tm_year=2023, tm_mon=1, tm_mday=25, tm_hour=21, tm_min=59, tm_sec=54, tm_wday=2, tm_yday=25, tm_isdst=0)

1674655194230394900

1674655194.2303948

In [27]:
import numpy as np
np.arange(10)
range(10)
type(range(10))

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

range(0, 10)

range

In [23]:
import json
with open('test25.txt','r')as fp:
    print(type(json.load(fp)))

<class 'list'>

In [22]:
#反序列化，将json字符串变成一个python对象
import json
with open('test25.txt','r')as fp:
    reslut=json.loads(fp.read())
    print(type(reslut))

<class 'list'>

In [12]:
import json
#使用scrapy框架时返回一个对象，使用dumps将对象变成一个json字符串
#dump,将对象转换为字符串的同时，指定一个文件的对象，然后把转换后的字符串写入这个文件

with open('test25.txt','a') as fp:
    json.dump([i for i in range(100)],fp)

In [24]:
(1,2,3)+(11,22,44)

(1, 2, 3, 11, 22, 44)

In [10]:
#序列化的两种方式，dumps,dump
#导入json模块到该文件中
import json
fp = open('test25.txt','a')
name_list = [i for i in range(100)]
names = json.dumps(name_list) #将python对象变为json字符序列
fp.write(names)
fp.close()

390

In [8]:
import json
fp = open('test25.txt','a')
fp.write([i for i in range(20)])
fp.close()

TypeError: write() argument must be str, not list

In [15]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
for i in range(1,10):
    for j in range(1,i+1):
        print('%d*%d=%d '%(j,i,i*j),end='')
    print()

1*1=1
1*2=2 2*2=4
1*3=3 2*3=6 3*3=9
1*4=4 2*4=8 3*4=12 4*4=16
1*5=5 2*5=10 3*5=15 4*5=20 5*5=25
1*6=6 2*6=12 3*6=18 4*6=24 5*6=30 6*6=36
1*7=7 2*7=14 3*7=21 4*7=28 5*7=35 6*7=42 7*7=49
1*8=8 2*8=16 3*8=24 4*8=32 5*8=40 6*8=48 7*8=56 8*8=64
1*9=9 2*9=18 3*9=27 4*9=36 5*9=45 6*9=54 7*9=63 8*9=72 9*9=81

In [4]:
print("{1}, {0} {world}".format("Hello","hi", world="World"))

hi, Hello World

In [24]:
['{}*{}={}'.format(i,j,i*j) for i in range(1,10) for j in range(1,i+1)]

['1*1=1',
 '2*1=2',
 '2*2=4',
 '3*1=3',
 '3*2=6',
 '3*3=9',
 '4*1=4',
 '4*2=8',
 '4*3=12',
 '4*4=16',
 '5*1=5',
 '5*2=10',
 '5*3=15',
 '5*4=20',
 '5*5=25',
 '6*1=6',
 '6*2=12',
 '6*3=18',
 '6*4=24',
 '6*5=30',
 '6*6=36',
 '7*1=7',
 '7*2=14',
 '7*3=21',
 '7*4=28',
 '7*5=35',
 '7*6=42',
 '7*7=49',
 '8*1=8',
 '8*2=16',
 '8*3=24',
 '8*4=32',
 '8*5=40',
 '8*6=48',
 '8*7=56',
 '8*8=64',
 '9*1=9',
 '9*2=18',
 '9*3=27',
 '9*4=36',
 '9*5=45',
 '9*6=54',
 '9*7=63',
 '9*8=72',
 '9*9=81']

In [23]:
a,b,c = 11,22,(1,2,3)
a
b
c
a,b,c

11

22

(1, 2, 3)

(11, 22, (1, 2, 3))

In [17]:
x,y,z = dict(a=1,b=2,c=3)
x,y,z

('a', 'b', 'c')

In [12]:
g = lambda **x:x
g(a=1,b=2,c=3,b2=22)
g(x = 11)

SyntaxError: invalid syntax (3835430441.py, line 4)

In [14]:
def fun(**b):
    return b
fun(x=1,y=2,z=3)

{'x': 1, 'y': 2, 'z': 3}

In [15]:
fun(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

In [1]:
url = 'https://sz.lianjia.com/zufang/luofuqu/rt200600000001l1/'
from requests_html import HTMLSession
session = HTMLSession()
r = session.get(url)
r.html.url

'https://sz.lianjia.com/zufang/luofuqu/rt200600000001l1/'

In [11]:
[int(i.text[:4]) for i in r.html.find('em')[:-1]]

[6300,
 9000,
 5600,
 9000,
 4000,
 4150,
 7000,
 9800,
 8600,
 1100,
 6400,
 4980,
 5500,
 3580,
 7300,
 6500,
 6800,
 1200,
 8000,
 5600,
 7400,
 6300,
 8500,
 6500,
 1000,
 4580,
 6000,
 4080,
 5000,
 1200]

In [10]:
r.html.xpath('//em/text()')

['6300',
 '9000',
 '5600',
 '9000',
 '4000',
 '4150',
 '7000',
 '9800',
 '8600',
 '11000-12500',
 '6400',
 '4980',
 '5500',
 '3580',
 '7300',
 '6500',
 '6800',
 '12000',
 '8000',
 '5600',
 '7400',
 '6300',
 '8500',
 '6500',
 '10000',
 '4580',
 '6000',
 '4080',
 '5000',
 '12000',
 '链家微信小程序']

In [42]:
divmod(10,3)

(3, 1)

In [20]:
bin(30)
bin(30&30)
bin(30|30)
bin(30>>1)
bin(30<<1)

'0b11110'

'0b11110'

'0b11110'

'0b1111'

'0b111100'

In [16]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [23]:
2&20

0

In [28]:
bin(30)

bin(-30)

'0b11110'

TypeError: bad operand type for unary ~: 'str'

In [32]:
def args(*x):
    pass
for i in args(1,3,3):
    print((i,))

TypeError: 'NoneType' object is not iterable

In [41]:
import pymysql

con = pymysql.connect(host='127.0.0.1',user='root',password='1qaz@WSX',database='cda')
cur = con.cursor()
sql = 'select * from dept'
result = cur.execute(sql)
print(result)
# print(cur.fetchall())
print([i for i in cur.fetchall()])
sql2 = 'select * from emp'
cur.execute(sql2)
for i in cur.fetchall():
    print(i)
con.close()

8
[(1, '财务部', '加州'), (10, 'accounting', 'new york'), (20, 'research', 'dallas'), (30, '产品部', '上海'), (33, '内控', '武汉'), (40, '核保', '深圳'), (50, '理赔部', '北京'), (54, '综合部', '成都')]

16

(1001, 'a', '佳佳', 7369, datetime.date(2021, 2, 1), Decimal('8000'), Decimal('600'), 40)
(1003, 'd', 'acountant', None, None, Decimal('0'), None, 40)
(7369, 'smith', 'clerk', 7902, datetime.date(1980, 12, 17), Decimal('800'), None, 20)
(7499, 'allen', 'salesman', 7698, datetime.date(1981, 2, 20), Decimal('1600'), Decimal('300'), 30)
(7521, 'ward', 'salesman', 7698, datetime.date(1981, 2, 22), Decimal('1250'), Decimal('500'), 30)
(7566, 'jones', 'manager', 7839, datetime.date(1981, 4, 2), Decimal('2975'), None, 20)
(7654, 'martin', 'salesman', 7698, datetime.date(1981, 9, 28), Decimal('1250'), Decimal('1400'), 30)
(7698, 'blake', 'manager', 7839, datetime.date(1981, 5, 1), Decimal('2850'), None, 30)
(7782, 'clark', 'manager', 7839, datetime.date(1981, 6, 9), Decimal('2450'), None, 10)
(7788, 'scott', 'analyst', 7566, datetime.date(1987, 4, 19), Decimal('3000'), None, 20)
(7839, 'king', 'persident', None, datetime.date(1981, 11, 17), Decimal('5000'), None, 10)
(7844, 'turner', 'salesman', 7698, datetime.date(1981, 9, 8), Decimal('1500'), Decimal('0'), 30)
(7876, 'adams', 'clerk', 7788, datetime.date(1987, 5, 23), Decimal('1100'), None, 20)
(7900, 'james', 'clerk', 7698, datetime.date(1981, 12, 3), Decimal('950'), None, 30)
(7902, 'ford', 'analyst', 7566, datetime.date(1981, 12, 3), Decimal('3000'), None, 20)
(7934, 'miller', 'clerk', 7782, datetime.date(1982, 1, 23), Decimal('1300'), None, 10)

In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"