In [9]:
pd.DataFrame.from_dict(data)

   name  age gender
0   Tom   20      M
1  Jack   25      M
2  Mary   30      F
3  Alex   35      M

In [10]:
pd.json_normalize(data)

                      name               age        gender
0  [Tom, Jack, Mary, Alex]  [20, 25, 30, 35]  [M, M, F, M]

In [5]:
data = {"name": ["Tom", "Jack", "Mary", "Alex"], "age":[20, 25, 30, 35], "gender": ["M", "M", "F", "M"]}
pd.DataFrame(data)

   name  age gender
0   Tom   20      M
1  Jack   25      M
2  Mary   30      F
3  Alex   35      M

In [6]:
pd.DataFrame(dic)

ValueError: If using all scalar values, you must pass an index

In [3]:
dic = {"id":777777,"is_bot":8,"first_name":"DA-Marqis","username":'中国'}
import pandas as pd
pd.DataFrame(dic,index=[0]).T

                    0
id             777777
is_bot              8
first_name  DA-Marqis
username           中国

In [1]:
import telebot
token='6377312623:AAGz3ZSMVswWq0QVlihRPklw8b7skSBP16Y'
bot = telebot.TeleBot(token)
bot.send_message('-677235937,6255966584', "同时发二条消息")

In [1]:
import requests
token='6377312623:AAGz3ZSMVswWq0QVlihRPklw8b7skSBP16Y'
r = requests.post(f'https://api.telegram.org/bot{token}/sendMessage', json={"chat_id": '-677235937,6255966584', "text": "it\'s rains everyday"})
r.text

'{"ok":true,"result":{"message_id":1079,"from":{"id":6377312623,"is_bot":true,"first_name":"DA-Marqis","username":"marqis_bot"},"chat":{"id":-677235937,"title":"Two_group","type":"group","all_members_are_administrators":true},"date":1691023770,"text":"it\'s rains everyday"}}'

In [4]:
r = requests.post(f'https://api.telegram.org/bot{token}/sendMessage', json={"chat_id": '6255966584,-677235937', "text": "第二条消息"})
r.text

'{"ok":true,"result":{"message_id":1081,"from":{"id":6377312623,"is_bot":true,"first_name":"DA-Marqis","username":"marqis_bot"},"chat":{"id":6255966584,"first_name":"darcy","last_name":"ma r","username":"darcy0065","type":"private"},"date":1691025021,"text":"\\u7b2c\\u4e8c\\u6761\\u6d88\\u606f"}}'